<form #myForm="ngForm">

    <div style="width: 400px; margin: auto;">
        <div class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="NombreCaso">Nombre del Caso</label>
              <input
                type="text"
                class="form-control"
                id="NombreCaso"
                required
                [(ngModel)]="caso1.nombreCaso"
                name="NombreCaso"
              />
            </div>


            <div class="form-group">
              <label for="Descripcion">Descripción Detallada</label>
              <textarea matInput
                type="text"
                class="form-control"
                id="Descripcion"
                required
                [(ngModel)]="caso1.caso"
                name="Descripcion"
              ></textarea>
            </div>



              <hr>
            <button (click)="saveCaso()" [disabled]="!myForm.form.valid" class="btn btn-success">Submit</button>
          </div>

          <div *ngIf="submitted">
            <h4>You submitted successfully!</h4>
            <button class="btn btn-success" (click)="newBook()">Add</button>
          </div>

        </div>
      </div>
      {{msgError}}
    </form>
